{% extends 'events/main.html' %}

{% block content %}
    <h2 class="title"Delete activity</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Do you want to delete this activity - {{ activity.name }}</p>
                <form action="{% url 'delete_activity' activity.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" name="Delete">
                    <a class="btn btn-info" href="{% url 'event' activity.event.id %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}