{% extends 'events/main.html' %}

{% block content %}
    <h2 class="title">Events</h2>
    <div class="container">
        {% for event in events %}
        <div class="row event">
            <div class="col-sm">
                <h3>{{ event.name }}</h3>
            </div>
            <div class="col-sm">
                <p>Registration ends at {{ event.end_time }}</p>
            </div>
            <div class="col-sm">
                <a class="btn btn-sm btn-block">Sign out</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}