{% extends 'events/main.html' %}

{% block content %}
    <h2 class="title">Events</h2>
    <div class="container">
        {% for event in events %}
        <div class="row event card card-body">
            <div class="col">
                <div class="col-sm">
                    <h3>{{ event.name }}</h3>
                </div>
                <div class="col-sm">
                    <p>Registration ends at {{ event.end_time }}</p>
                </div>
                <div class="row buttons">
                    <div class="col-sm">
                        <a class="btn btn-sm btn-success" href="{% url 'event' event.id %}">Register</a>
                        <a class="btn btn-sm btn-warning" href="{% url 'update_event' event.id %}">Update</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Description: {{ event.about }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
